.bg-blue {
    background-color: #33ccff;
  }
  /* main-content */
  .main-content {
    overflow-y: auto;
    display: inline-block;
    width: 1290px;
    height: 600px;
    /* background-color: aqua; */
    margin: 0 auto;
    margin-left: 20px;
  }
  /* end main-content */
  .wrapper-title-and-control{
    top: 0;
    position: -webkit-sticky;
  }

  /* main-content__title */
  .main-content__title i {
    font-size: 30px;
  }
  .main-content__title h2 {
    display: inline-block;
    font-weight: 500;
  }
  
  /* end main-content__title */
  
  .control-btn {
    margin-top: 20px;
    cursor: pointer;
  }
  .add-btn {
    padding: 5px;
    cursor: pointer;
    /* border: none; */
    background-color: #33ccff;
  }
  .deleteAll-btn {
    padding: 5px;
    cursor: pointer;
    margin-left: 10px;
    background-color: #33ccff;
  }
  
  /* table */
  table,
  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th,
  td {
    padding: 10px;
    text-align: center;
  }
  
  .table {
    width: 100%;
    max-width: 100%;
    margin-top: 30px;
  }
  .table-body{
    width: 100%;
    height: 400px;
    /* display: block; */
  }
  .table thead {
    position: sticky;
    top: 0;
    background-color: #33ccff; /* Màu nền của phần tiêu đề */
    z-index: 1; /* Đảm bảo phần tiêu đề hiển thị phía trên nội dung cuộn */
  }
  .table thead th {
    position: sticky;
    top: 0;
  }
  
  .table-title {
    background-color: #33ccff;
  }
  tbody td:nth-child(3) {
    text-align: left;
  }
  
  .edit-btn {
    cursor: pointer;
    border: none;
    font-size: 20px;
  }
  .delete-btn {
    cursor: pointer;
    border: none;
    font-size: 20px;
  }
  input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    text-align: center;
    font-size: 16px;
  }
  .product-name {
    text-align: left;
  }
  
  
  /* CSS cho modal */
.modal {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Màu nền với độ trong suốt */
  overflow: auto;
}

/* Nội dung trong modal */
.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Điều chỉnh chiều rộng modal */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Nút đóng modal */
.close-modal {
  color: #aaa;
  float: right;
  font-size: 30px;
  font-weight: bold;
}
.close-modal:hover,
.close-modal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.table-modal{
  width: 100%;
}

.table-modal input{
  width: 400px;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  background-color: #e7e7e7;
}

.table-modal select{
  font-size: 18px;
}

.table-modal button{
    cursor: pointer;
    background-color: #23282c;
    color: #fff;
    transition-duration: .2s;
    padding: 5px 10px;
    border: 3px solid transparent;
}