<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản Lý Sản Phẩm</title>
    <link rel="stylesheet" href="../admin/css/cssChung.css">
    <link rel="stylesheet" href="../admin/css/QLSanPham.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body ng-app="AppBanDienThoai" ng-controller="ProductController">
    <div class="header">
        <a href="./admin.html" class="header-logo">ADMIN</a>
        <i class="fa-solid fa-power-off"></i> <a href="../dangnhap.html">Đăng xuất</a>
        <p class="header-title">HỆ THỐNG QUẢN TRỊ NỘI DUNG</p>
    </div>
    <hr class="hr1">
    <hr class="hr2">
    <!-- end header -->
    <div class="content-container">
        <div class="sidebar-menu">
            <div class="sidebar">
                <ul class="menu">
                    <li><a class="main-menu" href="#">Trang chủ</a></li>

                    <li>
                        <a class="main-menu" href="#">Bán hàng <i class="fas fa-caret-down"></i></a>
                        <ul class="submenu">
                            <li><a href="./QLSanPham.html">Danh sách sản phẩm</a></li>
                            <li><a href="#">Khách hàng</a></li>
                            <li><a href="#">Hóa đơn bán</a></li>
                        </ul>
                    </li>

                    <li>
                        <a class="main-menu" href="#">Nhập hàng <i class="fas fa-caret-down"></i></a>
                        <ul class="submenu">
                            <li><a href="./QLNhapHang.html">Hóa đơn nhập</a></li>
                            <li><a href="#">Hãng sản xuất</a></li>
                            <li><a href="#">Nhà cung cấp</a></li>
                        </ul>
                    </li>

                    <li>
                        <a class="main-menu" href="#">Danh mục<i class="fas fa-caret-down"></i></a>
                        <ul class="submenu">
                            <li><a href="#">Sản phẩm</a></li>
                            <li><a href="#">Slide show</a></li>
                            <li><a href="#">Quảng cáo</a></li>
                            <li><a href="#">Người dùng</a></li>

                        </ul>
                    </li>

                    <li><a class="main-menu" href="#">Tài khoản</a></li>

                </ul>
            </div>

        </div>
        <!-- end sidebar-menu -->

        <div class="main-content">
            <div class="wrapper-title-and-control">
                <div class="main-content__title">
                    <i class="fa-solid fa-circle-right"></i>
                    <h2>Quản lý sản phẩm</h2>
                </div>
                <div class="search-container">
                    <input type="text" placeholder="Tìm kiếm sản phẩm..." id="searchProduct" ng-model="search">
                    <button type="submit">Tìm kiếm</button>
                  </div>
                  

                <div class="control-btn">
                    <button class="add-btn">Thêm mới</button>
                    <!-- <button class="deleteAll-btn">Xóa tất cả</button> -->
                </div>
            </div>

            <table class="table">
                <thead>
                    <tr class="table-title">
                        <th>STT</th>
                        <th>Mã sản phẩm</th>
                        <th>Tên sản phẩm</th>
                        <th>Ảnh đại diện</th>
                        <th>Giá tiền</th>
                        <th>Giá giảm</th>
                        <th>Số lượng</th>
                        <th>Sửa</th>
                        <th>Xóa</th>
                    </tr>
                </thead>
                <tbody class="table-body">
                    <tr ng-repeat="product in products | filter:search">
                        <td>{{$index + 1}}</td>
                        <td>{{product.maSanPham}}</td>
                        <td>{{product.tenSanPham}}</td>
                        <td><img ng-src="{{product.anhDaiDien}}" alt="{{product.tenSanPham}}" width="50"></td>
                        <td>{{product.gia | number:0}}</td>
                        <td>{{product.giaGiam | number:0}}</td>
                        <td>{{product.soLuong}}</td>
                        <td><button class="edit-btn" ng-click="openEditModal(product)"><i
                                    class="fa-solid fa-pen-to-square"></i></button></td>
                        <td><button class="delete-btn" ng-click="deleteProduct(product.maSanPham)"><i
                                    class="fa-solid fa-trash"></i></button></td>
                    </tr>
                </tbody>
            </table>

            <!-- Modal thêm sản phẩm -->
            <div id="modal-add-product" class="modal" style="display: none;">
                <div class="modal-content">
                    <span class="close-modal">&times;</span>
                    <table class="table-modal">
                        <thead>
                            <tr>
                                <th colspan="2" style="text-align: center; font-size: 20px;">Thêm sản phẩm</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Tên sản phẩm</td>
                                <td><input type="text" ng-model="newProduct.tenSanPham"></td>
                            </tr>
                            <tr>
                                <td>Chuyên mục</td>
                                <td>
                                    <select>
                                        <option value="Điện thoại">Điện thoại</option>
                                        <option value="Laptop">Laptop</option>
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <td>Hình ảnh</td>
                                <td>
                                    <input type="file" id="imageInput" accept="image/*" onchange="previewImage(event)">
                                    <img id="previewImage" src="" alt="Preview"
                                        style="max-width: 200px; display: none;">
                                </td>
                            </tr>

                            </tr>
                            <td>Giá</td>
                            <td><input type="text" ng-model="newProduct.gia"></td>
                            </tr>
                            <tr>
                                <td>Giảm giá</td>
                                <td><input type="text" ng-model="newProduct.giaGiam"></td>
                            </tr>
                            <tr>
                                <td>Số lượng</td>
                                <td><input type="text" ng-model="newProduct.soLuong"></td>
                            </tr>
                            <tr>
                                <td colspan="2" style="text-align: center;">
                                    <button ng-click="addProduct($event)">Thêm</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- End Modal thêm sản phẩm -->

            <!-- Begin Modal Sửa sản phẩm -->
            <div id="modal-edit-product" class="modal" ng-show="isEditModalOpen">
                <div class="modal-content">
                    <span class="close-modal" ng-click="closeEditModal()">&times;</span>
                    <table class="table-modal">
                        <thead>
                            <tr>
                                <th colspan="2" style="text-align: center; font-size: 20px;">Sửa sản phẩm</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Tên sản phẩm</td>
                                <td><input type="text" ng-model="editedProduct.tenSanPham"></td>
                            </tr>
                            <tr>
                                <td>Chuyên mục</td>
                                <td>
                                    <select>
                                        <option value="Điện thoại">Điện thoại</option>
                                        <option value="Laptop">Laptop</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Hình ảnh</td>
                                <td>
                                    <input type="file" id="editImageInput" accept="image/*"
                                        onchange="previewEditImage(event)">
                                    <img id="previewEditImage" src="" alt="Preview" style="max-width: 200px;">
                                </td>
                            </tr>
                            <tr>
                                <td>Giá</td>
                                <td><input type="text" ng-model="editedProduct.gia"></td>
                            </tr>
                            <tr>
                                <td>Giảm giá</td>
                                <td><input type="text" ng-model="editedProduct.giaGiam"></td>
                            </tr>
                            <tr>
                                <td>Số lượng</td>
                                <td><input type="text" ng-model="editedProduct.soLuong"></td>
                            </tr>
                            <tr>
                                <td colspan="2" style="text-align: center;"><button
                                        ng-click="saveEditedProduct()">Lưu</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- End Modal Sửa sản phẩm -->

            <script>
                $(document).ready(function () {
                    // Ẩn tất cả các submenu khi tải trang
                    $(".submenu").hide();

                    // Hiển thị submenu khi click vào menu item chứa submenu
                    $(".menu > li").click(function () {
                        // Ẩn tất cả các submenu khác
                        $(".submenu").not($(this).children(".submenu")).slideUp();

                        // Hiển thị hoặc ẩn submenu của menu item hiện tại
                        $(this).children(".submenu").stop(true, true).slideDown();
                    });
                });

            </script>

            <script>
                // Lấy thẻ modal và nút mở modal
                var modalAdd = document.getElementById("modal-add-product");
                var addBtn = document.querySelector(".add-btn");

                // Lấy nút đóng modal
                var closeBtn = document.getElementsByClassName("close-modal")[0];

                // Khi người dùng bấm vào nút "Thêm mới", hiển thị modal
                addBtn.onclick = function () {
                    modalAdd.style.display = "block";
                };

                // Khi người dùng bấm vào nút đóng, ẩn modal
                closeBtn.onclick = function () {
                    modalAdd.style.display = "none";

                };

                // Khi người dùng bấm vào bất kỳ đâu ngoài modal, ẩn modal
                window.onclick = function (event) {
                    if (event.target == modalAdd) {
                        modalAdd.style.display = "none";
                    }
                };

                // Xử lý khi form được submit
                document.getElementById("productForm").addEventListener("submit", function (event) {
                    // Ngăn chặn việc submit mặc định của form
                    event.preventDefault();

                    // Đoạn code xử lý thông tin sản phẩm mới ở đây (có thể gửi đi thông tin sản phẩm, hiển thị thông báo, vv.)

                    // Sau khi xử lý xong, ẩn modal
                    modalAdd.style.display = "none";
                });

            </script>

            <script>
                function previewImage(event) {
                    var input = event.target;
                    if (input.files && input.files[0]) {
                        var reader = new FileReader();

                        reader.onload = function (e) {
                            var preview = document.getElementById('previewImage');
                            preview.src = e.target.result;
                            preview.style.display = 'block';
                        }

                        reader.readAsDataURL(input.files[0]);
                    }
                }

            </script>

            <script>
                function previewEditImage(event) {
                    var input = event.target;
                    if (input.files && input.files[0]) {
                        var reader = new FileReader();

                        reader.onload = function (e) {
                            var preview = document.getElementById('previewEditImage');
                            preview.src = e.target.result;
                            preview.style.display = 'block';
                        }

                        reader.readAsDataURL(input.files[0]);
                    }
                }

            </script>

            <!-- Link AngularJS -->
            <script src="/angular/angular.min.js"></script>
            <!-- Link Js -->
            <script src="/angular/QLSanPham.js"></script>
</body>

</html>